body{
	font: 16px/25px "Marmelad","Lucida Grande",Georgia,sans-serif;
		-webkit-text-size-adjust: 100%;
		color: #66666a;
}
 

  /* ......................自定义字体 按兼容要求配置 ......................

  font-family: 'JennaSue';
  src url 

  */
    @font-face {
      font-family: 'JennaSue';/* 字体名，可自定义 */
      src: url('JennaSue.eot'); /* fix ie9 */
      src: url('JennaSue.eot?#iefix') format('eot'),/* ie4~ie8*/
           url('JennaSue.ttf') format('truetype');/* modern browser safari in iOS */
    }
    .sl-fontface {
      font-family: 'JennaSue';
      font-size: 60px;
      line-height: 100px
    }
	/* ...................../自定义字体...........................*/
#container>header { 
	width: 100%; 
	margin: 0 auto;
	background-color: #1C86D1;
}
header {
	position: fixed;
	top: 0;
	z-index:400;
 	height: 60px; 
}
header .container{
	max-width: none;

}

#logo{
	/*margin:21px 0 23px 20px;*/
		margin-top:20px;
	float: left;
}
#logo img{
	float: left;
}

header { 
    font-family: "Microsoft Yahei";
	background-color: #1C86D1;
	overflow: hidden;
	border-bottom:1px solid #CCCCCC;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

a{
	color: #1C86D1;
}
header nav li:hover{
	border-bottom: 2px solid #fff;
}

header nav {
	float: right;
/*	margin:21px 15px 19px;*/
}

header nav li {
	float: left;
	/*margin: 0 25px 0 0;*/
	padding: 0 12px;
	line-height:41px;

} 
header nav ul.right li {
	margin: 0 15px 0 0;
}
header nav ul.right li:last-child{
	margin-right: 0;
}
header nav a,
header nav li{
	font: 14px/32px "microsoft yahei",sans-serif;
	text-transform: uppercase;
	color: #cff;  
}

header nav li{
		/*display: inline-block;
		height: 3.2em;
		line-height: 3.2em; 
		padding: 0 4em;
		margin-left: -5px;
		position: relative;*/

		display: inline-block;
		height: 54px;
		line-height: 54px;
		padding: 0 21px;
		margin-left: 0px;
		position: relative;
}
nav li:hover{
	/*background:#83CBFC;*/
	color: #fff!important;
 	border-bottom:2px solid #fff; 
} 
header nav li:hover a{ 
	/*border: 1px solid #f5f5f5; border-bottom-color: #35C4FD;*/
	/*color: #fff; */

} 
header nav a:hover,
header nav a.selected{
	/*color: #ffffff;*/
/* border-bottom:2px solid #fff; */
}
header nav a.selected{
	border-bottom: 3px solid #cff;
	padding-bottom: 23px;
}
header nav li:last-child{
	margin-right: 0;
}
header nav .avatar {
	height:32px;
	width:32px;
	display:block;
}
.avatar img {
	border-radius: 3px;
}
header nav .left{
	float: left;
}
header nav .right{
	float: right;
	margin-right:20px;
	border-left:1px solid #acc;
	padding-left: 15px;
	margin-left: 15px;
}

article{
	padding-top: 61px;  /*70 */
	min-height: 570px;
}
.wrapper {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
	z-index: 20;
}
.row {
	padding:0;
	position: relative;
	background-color: #fff;
}
.row.dark-grey{
	background:#fff url("../images/home_background.png") no-repeat center top;
	background-size: 1400px 650px;
}
.row.grey{
	background-color: #F2F5F7;
}
.overline{
	border-top: 1px solid #dadddf;
}
.underline{
	border-bottom: 1px solid #dadddf;
}
.content {
	margin: 0 auto;
    max-width:960px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 75px;
}
#companies .content{
	padding-bottom: 45px;
}
.content.no-padding{
	padding: 0;
}
.content h2 {
	font-size:32px;
	line-height:36px;
	color: #333;
	font-family: "Marmelad","Lucida Grande",Georgia,sans-serif;
	margin-bottom:20px;
}
.content p{
	padding:0 20px;
}



/**	Home **/
h1{
	color: #000;
	font-size: 42px;
	line-height: 40px;
	margin-top: 90px;
	 font-family: 'JennaSue';
}
h1{
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: 4s;
  -vendor-animation-iteration-count: infinite;
}
h2{
	font-size:30px;
	line-height:30px;
	margin-top:60px;
}
h3{
	color: #99999A;
    font-family: "Marmelad","Lucida Grande",Georgia,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-top:60px;
}
.big{
	font-size: 52px;
}

#intro .button{
	margin-top: 20px;
	margin-bottom:110px;
}
.underhead {
	font-size: 28px;	
	line-height:40px;
	margin-top: 20px;
}
.img.sample {
	display: block;
	width: 100%;
	height: 600px;
	background:url('../images/home_page_image.png') no-repeat;
	background-size:contain; 
	/*box-shadow: 0  2px 6px rgba(100, 100, 100, 0.5);*/ 
}
.row#results{
	padding-bottom:50px;
} 


/* Talent */
#talent .cols li {
	float: left;
	width: 300px;
	display: block;
	overflow: hidden;
	background-color: #fff;
	margin:10px;
	padding-bottom: 30px;
}
#talent .cols li p{
	padding: 0;
}
#talent .cols li img {
	width:100%;
	height: auto;
	vertical-align: bottom;
	min-height: 225px;
}
/*#talent .cols li:nth-child(odd){
	margin:0 15px 30px 0;
}*/
#talent .row.first {
	padding-top: 90px;
}
#talent .image{
	display: block;
	width: 465px;
	height: 350px;
}
#talent .exmp1 .image{
	background:transparent url('../images/talent/01.jpg') no-repeat center top;
}
#talent h3 {
	margin-top: 30px;
	margin-bottom: 0;
	font: 16px/25px "Avenir LT W01 65 Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	color:#1C86D1;
}
#talent p.light {
	color:#99999a;
}

  
/* Buttons */
article button,
article .button {
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	background-color: #02daaf;
	color: #fff;
	padding:16px 10px;
	display:block;
	border: none;
	font: 12px/18px "Avenir LT W01 85 Heavy", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	min-width:180px;
	cursor: pointer;
	text-align: center;
	width: 140px;
	margin: 0 auto;
}
article .button:hover,
article button:hover,
article .button:active,
article button:active,
article .button:focus,
article button:focus
{
	background-color:#0bba98;
	border-bottom: none;
}

article button.outline,
article .button.outline{
	padding:15px 10px;
	background-color:#fff;
	border:#e6e9ea 1px solid;
	color: #66666a;
}

article button.outline:hover,
article .button.outline:hover{
	background-color:#f2f5f7;
}

article button.margin,
article .button.margin{
	margin-top:30px;
}

.inline-block,
.inline-block button.margin,
.inline-block .button.margin {
	display: inline-block;
}
.inline-block button.margin,
.inline-block .button.margin{
	margin-right: 5px;
	margin-left: 5px;
}

footer {
	  position: fixed;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 940;
	  background-color: #1C86D1; 
	}

footer.row{
	background-color: #1C86D1;
	padding-top: 65px;
}
footer ul {
	margin-bottom: 150px;
}
footer.row li {
	display: inline-block;
}
footer.row a,
footer .small {
	font: 12px/18px "Avenir LT W01 85 Heavy", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #AAFFCC;
	padding: 0 0 0 35px;
}
footer .small,
footer .small a{
	color: #fff;
	padding: 0;
	line-height: 50px;
	text-align: center;
}
footer.row a:hover{
	color: #fff;
	background-color: #005EA9;
} 
  

@media all and (max-width: 999px) and (min-width: 768px) {

	header nav ul.right li:last-child{
		display: none;
	}
	header nav li{
	/*	margin-right: 15px;*/

	}
	header nav ul.right li{
		margin-right: 0;
	}
	.content {
		max-width:720px;
	}
	
	
	.img.sample{
		height: 431px;
	}
	h1{
		line-height:56px;
	}
	#how .content .description {
		display: none;
	}
	#talent .cols li{
		width: 345px;
		margin:auto;
	}
	#talent .exmp1 .image{
		background-size:contain;
		width: 345px;
		height: 260px;
	}
	.content p{
		padding: 0;
	}

}

/* 小屏幕开始启动了*/
@media all and (max-width: 767px) {
	
	body{
		padding-top: 0;
	}

	body, html{
		height: auto;
	}

	#logo{
		margin-left:15px; 
	}
	header{
		position:static;
		background-clip:border-box;
	}
	
	article{
		padding: 0;
		min-height: 0;

	}
	header nav .right{
		margin-left: 0;
		padding-left: 0;
		border-left: 0;
	}
	header .container{
		min-height: 65px;
		height: auto;
	}
	header nav {
		margin: 0;
		width: 100%;
		display: none;
		top:70px;
		position: absolute;
		z-index:500;
		box-shadow: 
	}
	header nav a{
		z-index:600;
	}
	header nav.open{
		display:block;
	}
	header nav ul{
		overflow: hidden;

	}
	header nav ul.right li:last-child{
		display: none;
	}
	header nav ul.right .sign{
		border-bottom:2px solid rgb(0, 0, 0);
	    border-bottom:2px solid rgba(0, 0, 0, .1);
	    -webkit-background-clip: padding-box; /* for Safari */
	    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	    padding-bottom: 10px;
	}

	header nav li{
		float: left;
		clear: left;
		width: 100%;
		background-color: #1C86D1;
		border-top: 0px solid #fff;
	}
	header nav li a{
		width: 100%;
		display: block;
		font-size:12px;
		line-height: 60px;
		text-indent: 30px;
		color: #fff;
		text-transform:uppercase;
	}
	header nav a.selected{
		border-bottom:none;
		padding-bottom: 0;
	}
	 header nav a:hover, header nav a.selected{
		color: #fff;
	}
	header nav .right,
	header nav .left {
		float: none;
		margin-right: 0;
	}
	header nav .avatar{
		display: none;
	}
/*移动端导航 */
	button.toggle-nav{
		background-color: #1C86D1;
		width:30px;
		height:30px;
		min-width:0;
		padding: 0;
		margin:20px 15px 0 0;
		background:#1C86D1 url("../images/icon_menu.svg") no-repeat center center;
		float: right;
		opacity: 0.5;
	}
	button.toggle-nav.open{
		opacity:1;
	}
	header .container{
		margin: 0;
		height:70px;
		background-color:#1C86D1;
	}
	.content {
		max-width:none;
		width: 100%;
		padding-bottom: 65px;
	}
	#companies .content {
		padding-bottom:55px;
	}
	.content p{
		padding: 0;
	}
	.content p{
		margin-left:35px;
		margin-right:35px;
	}
	h3{
		margin-top:30px;
		margin-bottom: 20px;
	}
/*移动端导航 */
	.img.sample{
		background:url('../images/home_page_mobile_image.png') no-repeat center top;
		background-size:300px 640px;
		/*height:405px;*/
	}
	.row.grey{
		background-color:#E5E5E8;
	}
	#companies.row.grey{
		background-color:#F2F5F7;
	}
	.row.dark-grey{
		background-image: none;
	}
	h1{
		font-size: 22px;
    	line-height:34px;
    	margin: 55px 15px 0 15px;
	}
	.underhead {
		font-size:18px;
		line-height:24px;
	}
	a.small{
		margin-bottom:60px;
	}
	.content h2{
		font-size: 22px;
		line-height: 28px;
		margin-top:65px;
	}
	#candidates .content h2{
		margin-top:45px;
	}
	#intro .button{
		margin-bottom:70px;
		margin-top: 35px;
	}
	footer .content{
		margin: 0 30px;
		width: auto;
	}
	footer.row{
		padding: 0;
	}
	footer .container{
		overflow: hidden;
		padding: 0px 0;
	}
	footer ul {
		margin: 0;
	}
	footer.row li{
		display:block;
		font-family:"Avenir LT W01 85 Heavy","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	footer.row a {
		font-size: 12px;
		line-height: 40px;
		color:#AAFFCC;
		padding: 0 0 0 30px;
	}
	li.copyright {
	    color: #fff;
	    font-size: 9px;
	    line-height: 15px;
	    margin:30px 0 30px 25px;
	    text-transform: uppercase;
	}
	#how .content .description {
		display: none;
	} 

	#how .content h2,
	#faq .content h2{
		margin-top: 40px;
	}
	#how #how-intro .content,
	#faq .content{
		padding-bottom: 65px;
		padding-top: 0;
	}
	#how .first .content{
		padding-top: 50px;
	}
	#how .content.overview{
		padding-top: 30px;
	}
	#how .content{
		padding-top: 60px;
	}
	#talent .cols {
		margin:0 20px 0 20px;
	}
	#talent .cols li,
	#talent .cols li:nth-child(odd){
		float: none;
		clear: left;
		margin: 0 auto 30px auto;
		width: 100%;
		max-width: 465px;
	}
	#talent .image{
		width: 100%;
		max-width: 465px;

	}
	#talent .exmp1 .image{
		background-size: contain;
	}
	#talent .item img {
		width: 100%;
	}
	#talent .content h2{
		margin-top: 40px;
	}
	#how-intro .content{
		padding-bottom: 65px;
	}
	#talent .row.first{
		padding-top: 50px;
	}
}


/* Retina-specific stuff here - All */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) { 

		.img.sample {
			background:url('../images/home_page_image@2x.png') no-repeat;
			background-size:contain;
		}
		.row.dark-grey{
			background:#1C86D1 url("../images/home_background@2x.png") no-repeat center top;
			background-size: 1400px 650px;
		}  
} 

/* Retina-specific stuff here - 767 */
@media 	only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 767px), 	only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 767px), only screen and ( min-device-pixel-ratio: 2)      and (max-width: 767px), 	only screen and ( min-resolution: 192dpi) and (max-width: 767px), only screen and ( min-resolution: 2dppx)  and (max-width: 767px) { 

	  
}